<title>
  {% if page.title %}
    {{ page.title }} | {{ site.title}}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>

{% if page.meta_description %}
  <meta name="description" content="{{ page.meta_description }}"/>
  <meta name="twitter:description" content="{{ page.meta_description }}" />
{% elsif page.description %}
  <meta name="description" content="{{ page.description }}"/>
  <meta name="twitter:description" content="{{ page.description }}" />
{% endif %}

{% if page.title %}
  <meta property="og:title" content="{{ page.title }}"/>
  <meta name="twitter:title" content="{{ page.title }}" />
{% else %}
  <meta property="og:title" content="{{ site.title }}"/>
  <meta name="twitter:title" content="{{ site.title }}" />
{% endif %}
<meta content="website" property="og:type"/>
<meta property="og:url" content="{{ page.url }}"/>
{% if page.image %}
  <meta property="og:image" content="{{ site.domain }}{{ page.image | absolute_url }}"/>
  {% imagesize page.image:opengraph %}
  <meta name="twitter:image" content="{{ site.domain }}{{ page.image | absolute_url }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {% elsif site.seo.meta_og_image %}
  <meta property="og:image" content="{{ site.domain }}{{ site.seo.meta_og_image | absolute_url }}"/>
  {% imagesize site.seo.meta_og_image:opengraph %}
  <meta name="twitter:image" content="{{ site.domain }}{{ site.seo.meta_og_image | absolute_url }}"/>
  <meta name="twitter:card" content="summary_large_image" />
{% else %}
  <meta name="twitter:card" content="summary" />
{% endif %}
{% if page.description %}<meta property="og:description" content="{{ page.description }}"/>
{% endif %}
{% if site.seo.meta_twitter_site %}<meta name="twitter:site" content="{{ site.seo.meta_twitter_site }}"/>
{% endif %}
{% if site.seo.meta_twitter_creator %}<meta name="twitter:creator" content="{{ site.seo.meta_twitter_creator }}"/>
{% endif %}

{% if page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}"/>
{% endif %}


