{% if post.layout == "photos" && post.image %}
  <div class="flex flex-col md:flex-row w-full">
    <div class="md:mr-4 mb-2 md:mb-0 md:w-4/12 ">
    </div>
    <div class="flex-1">
      {% include summary-date-title.html %}
    </div>
  </div>
  <div class="flex flex-col md:flex-row w-full mb-4 photos-summary">
    <div class="md:mr-4 md:w-4/12 ">
      <div class="text-base font-light text-gray-800 post-excerpt">
        {% if post.gallery %}
          {% include gallery.html folder=post.gallery exclude=post.image id=post.id %}
        {% endif %}
      </div>
    </div>

    <div class="flex-1">
      <a class="bg-gray-100 glightbox" href="{{ post.image | relative_url }}" data-gallery="gallery-{{ post.id }}">
        <img width="100%" class="featured mb-3 hover:opacity-80 transition duration-300 ease-in-out" alt="{{ post.title }}" src="{{ post.image | relative_url }}" {% imagesize post.image:props %} />
      </a>
      <div class="text-base font-light text-gray-800 post-excerpt">
        {% if post.excerpt_full %}
          {{ post.content }}
        {% elsif post.summary %}
          {{ post.summary }}
        {% else %}
          {{ post.excerpt | markdownify }}
        {% endif %}
      </div>

      {% include summary-categories.html %}
    </div>
  </div>
{% else %}
  <div class="flex flex-col md:flex-row w-full">
    <div class="md:mr-4 mb-2 md:mb-0 md:w-4/12 ">
      {% if post.image %}
        <a class="bg-gray-100" href="{{ post.url | relative_url }}">
          <img {% imagesize post.image:props %} class="rounded mb-3 hover:opacity-80 transition duration-300 ease-in-out" alt="{{ post.title }}" src="{{ post.image | relative_url }}"/>
        </a>
      {% endif %}
    </div>

    <div class="flex-1">
      {% include summary-date-title.html %}

      <div class="text-base font-light text-gray-800 mb-4 post-excerpt prose">
        {% if post.excerpt_full %}
          {{ post.content }}
        {% elsif post.summary %}
          {{ post.summary }}
          <a href="{{ post.url | relative_url }}" class="text-green-600 hover:text-blue-800 transition duration-300 ease-in-out underline">Continue reading&hellip;</a>
        {% else %}
          {{ post.excerpt | markdownify }}
          <a href="{{ post.url | relative_url }}" class="text-green-600 hover:text-blue-800 transition duration-300 ease-in-out underline">Continue reading&hellip;</a>
        {% endif %}
      </div>

      {% include summary-categories.html %}
    </div>
  </div>
{% endif %}
