<div class="flex flex-col md:flex-row w-full lg:w-10/12">

  <div class="md:mr-4 mb-2 md:mb-0 md:w-4/12 ">
    {% if post.thumbnail %}
      <a class="bg-gray-100" href="{{ post.url | relative_url }}">
        <img width="640" height="360" class="rounded mb-3 hover:opacity-70 transition duration-300 ease-in-out" alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}"/>
      </a>
    {% elsif post.image %}
      {% if post.layout == "photos" %}
        {% if post.gallery %}
          <a class="bg-gray-100 glightbox" href="{{ post.image | relative_url }}" data-gallery="gallery-{{ post.id }}">
            <img width="640" height="360" class="rounded mb-3 hover:opacity-70 transition duration-300 ease-in-out" alt="{{ post.title }}" src="{{ post.image | relative_url }}"/>
          </a>
        {% endif %}
      {% else %}
        <a class="bg-gray-100" href="{{ post.url | relative_url }}">
          <img width="640" height="360" class="rounded mb-3 hover:opacity-70 transition duration-300 ease-in-out" alt="{{ post.title }}" src="{{ post.image | relative_url }}"/>
        </a>
      {% endif %}
    {% endif %}
  </div>

  <div class="flex-1">
    <div class="flex items-center">
      <div class="text-sm font-medium text-gray-700">{{ post.date | date_to_long_string }}</div>
    </div>

    <a href="{{ post.url | relative_url }}" class="hover:text-green-400">
      <h2 class="text-2xl font-semibold mb-1">{{ post.title }}</h2>
    </a>

    {% if post.layout == "photos" %}
      <div class="photos post-excerpt">
        {% if post.gallery %}
          {% include gallery.html folder=post.gallery exclude=post.image id=post.id %}
        {% else %}
          <a class="bg-gray-100 glightbox" href="{{ post.image | relative_url }}" data-gallery="gallery-{{ post.id }}">
            <img width="100%" class="rounded mb-3 hover:opacity-70 transition duration-300 ease-in-out" alt="{{ post.title }}" src="{{ post.image | relative_url }}"/>
          </a>
        {% endif %}
        {{ post.content }}
      </div>
    {% elsif post.excerpt_full %}
      <div class="prose">
        {{ post.content }}
      </div>
    {% elsif post.summary %}
      <p class="text-base font-light text-gray-800 mb-4 post-excerpt">
        {{ post.summary }}
      </p>
    {% else %}
      <div class="text-base font-light text-gray-800 mb-4 post-excerpt">
        {{ post.excerpt }}
        <a href="{{ post.url | relative_url }}" class="text-green-600 hover:text-blue-800 transition duration-300 ease-in-out underline">Continue reading&hellip;</a>
      </div>
    {% endif %}


    {% if post.categories %}
      <div class="mb-2 mt-2">
        {% for category in post.categories %}
          {% include category-badge.html %}
        {% endfor %}
      </div>
    {% endif %}


  </div>
</div>