body {}

.prose a {
    color: rgb(52, 211, 153);
    text-decoration: underline;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}
.prose a:hover {
    color: rgb(30, 64, 175);
}
.prose code::before { content: ''; }
.prose code::after { content: ''; }
.prose code, .post-excerpt code {
    background: #efefef;
    padding: 4px 8px;
    font-weight: 600;
}
.prose a:hover code, .post-excerpt a:hover code {
    background: #ddd;
}

.image-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    justify-content: center;
    padding: 4px;
}

.box {
    flex-basis: 25%;
    width: 100%;
    padding: 10px;
    margin: 2px;
}

.img-gallery {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.img-gallery:hover {
    transform: scale(1.05);
}

.post-excerpt .image-gallery {
    grid-template-columns: repeat(auto-fill,minmax(100px, 1fr));
}
.post-excerpt .box {
    padding: 2px;
}
.post-excerpt .img-gallery {
    height: 100px;
}