body {}

.prose a {
    color: rgb(52, 211, 153);
    text-decoration: underline;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}
.prose a:hover {
    color: rgb(30, 64, 175);
}
.prose code::before { content: ''; }
.prose code::after { content: ''; }
.prose code, .post-excerpt code {
    background: #efefef;
    padding: 4px 8px;
    font-weight: 600;
}
.prose a:hover code, .post-excerpt a:hover code {
    background: #ddd;
}

.photos-summary .featured {
  margin: 1px;
}

ul.image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.image-gallery > li {
  height: 40vh;
  flex-grow: 1;
  margin: 1px;
}

.image-gallery > li:last-child {
  /* There's no science in using "10" here. In all my testing, this delivered the best results. */
  flex-grow: 10;
}

.image-gallery img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.post-excerpt .image-gallery li {
  height: 100px;
}

/* Portrait ratio */
@media (max-aspect-ratio: 1/1) {
  .image-gallery > li {
    height: 30vh;
  }
  .post-excerpt .image-gallery li {
    height: 100px;
    width: auto;
  }
}

/* Short screens */
@media (max-height: 480px) {
  .image-gallery > li {
    height: 60vh;
  }
}

/* Smaller screens in portrait */
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul.image-gallery {
    flex-direction: row;
  }

  .image-gallery > li {
    height: auto;
    width: 100%;
  }
  .image-gallery > img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
