<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% include meta.html %}

    <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  </head>
  <body class="page {{page.bodyClass}}">
    {% include menu-mobile.html %}
    <div class="container mx-auto px-4">
      {% include header.html %}
      {{content}}
      {% include footer.html %}
    </div>
    {% include google-analytics.html %}
    <script type="text/javascript" src="{{ '/assets/js/glightbox.min.js' | relative_url }}"></script>
    <script type="text/javascript">
      // Hamburger menu for mobile
      var body = document.querySelector('body');
      var menuOpenTrigger = document.querySelector('#menu-trigger');
      var menuCloseTrigger = document.querySelector('#menu-close');
      var menuContainer = document.querySelector('#menu-container');
      var hamburgerIcon = document.querySelector('.hamburger');

      if (menuOpenTrigger !== null) {
        menuOpenTrigger.addEventListener('click', function(e) {
          console.log("asldj")
          menuContainer.classList.toggle('hidden');
          menuContainer.classList.toggle('flex');
          hamburgerIcon.classList.toggle('is-active');
          body.classList.toggle('lock-scroll');
        });
        menuCloseTrigger.addEventListener('click', function(e) {
          console.log("asldj")
          menuContainer.classList.toggle('hidden');
          menuContainer.classList.toggle('flex');
          hamburgerIcon.classList.toggle('is-active');
          body.classList.toggle('lock-scroll');
        });
      }

      const lightbox = GLightbox({
        touchNavigation: true,
        loop: true,
        autoplayVideos: true
      });
    </script>
  </body>
</html>
